@model AgenciaCarros.Models.CLIENTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGRESO.USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGRESO.USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DETALLE_DIRECCION.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DETALLE_DIRECCION.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
