@model IEnumerable<AgenciaCarros.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGRESO.USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETALLE_DIRECCION.DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CEDULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INGRESO.USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DETALLE_DIRECCION.DESCRIPCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_CLIENTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_CLIENTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_CLIENTE })
        </td>
    </tr>
}

</table>
