<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AGENCIA SPEED RACERS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }

            .mynav_dropdown .mynav_dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn, .mynav_dropbtn:focus {
                background-color: red;
            }

        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .mynav_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .mynav_dropdown-content a:hover {
                    background-color: #ddd;
                }

        .mynav_show {
            display: block;
        }
    </style>
</head>
<body>
    <div style="color:cornsilk" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="color:cornsilk" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Agencia de carros", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="color:cornsilk" class="mynav_navbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Iniciar Sesion", "Login", "Ingresar")</li>
                </ul>
                <div class="mynav_dropdown">
                    <button class="mynav_dropbtn" onclick="myFunction()">
                        Empleado
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynav_dropdown-content" id="myDropdown">
                        <a>@Html.ActionLink("Ver Direccion", "Index", "DETALLE_DIRECCION1")</a>
                        <a>@Html.ActionLink("Ver Clientes", "Index", "CLIENTE")</a>
                        <a>@Html.ActionLink("Ver Empleados", "Index", "EMPLEADO")</a>

                        <a>@Html.ActionLink("Ver Proveedores", "Index", "PROVEEDOR")</a>
                        <a>@Html.ActionLink("Ver Inventario", "Index", "INVENTARIO")</a>
                    </div>
                </div>
                <div class="mynav_dropdown">
                    <button class="mynav_dropbtn" onclick="myFunction2()">
                        Usuario
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynav_dropdown-content" id="myDropdown2">
                        <a>@Html.ActionLink("Ver Vehiculos", "Index", "VEHICULO")</a>
                        <a>@Html.ActionLink("Ver Repuestos", "Index", "REPUESTOes")</a>
                        <a>@Html.ActionLink("Ver Facturas", "Index", "FACTURA")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Te ofrecemos gran variedad de vehiculos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.mynav_dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.mynav_dropbtn')) {
                var myDropdown = document.getElementById("myDropdown2");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>
</body>
</html>
