@model AgenciaCarros.Models.VEHICULO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DETALLES DEL VEHICULO</h2>

<div>
    <h4>VEHICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PLACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt>
            @Html.DisplayName("AÑO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CILINDRAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CILINDRAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLOR)
        </dd>

        <dt>
            @Html.DisplayName("TIPO DE COMBUSTIBLE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_COMBUSTIBLE)
        </dd>

        <dt>
            @Html.DisplayName("PRECIO UNITARIO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO_UNITARIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.ID_VEHICULO }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
