@model AgenciaCarros.Models.EMPLEADO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ELIMINAR EMPLEADO</h2>

<h3>Esta seguro que lo quiere eliminar?</h3>
<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("NOMBRE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("APELLIDO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO1)
        </dd>

        <dt>
            @Html.DisplayName("APELLIDO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO2)
        </dd>

        <dt>
            @Html.DisplayName("TELEFONO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayName("CORREO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayName("SALARIO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO)
        </dd>

        <dt>
            @Html.DisplayName("ROL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
