@model AgenciaCarros.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DETALLES EMPLEADO</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("PRIMER APELLIDO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO1)
        </dd>

        <dt>
            @Html.DisplayName("SEGUNDO APELLIDO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.ID_EMPLEADO }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
