@model AgenciaCarros.Models.FACTURA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ELIMINAR FACTURA</h2>

<h3>Esta seguro que desea eliminar esta factura?</h3>
<div>
    <h4>FACTURA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("FECHA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        

        <dt>
            @Html.DisplayName("IMPOTE TOTAL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMPORTE_TOTAL)
        </dd>

        <dt>
            @Html.DisplayName("NOMBRE DEL CLIENTE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("REPUESTO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REPUESTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("VEHICULO MARCA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICULO.MARCA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
