@model AgenciaCarros.Models.FACTURA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DETALLES FACTURA</h2>

<div>
    <h4>FACTURA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        

        <dt>
            @Html.DisplayName("IMPORTE TOTAL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMPORTE_TOTAL)
        </dd>

        <dt>
            @Html.DisplayName("NOMBRE DEL CLIENTE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("NOMBRE DEL REPUESTO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REPUESTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICULO.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICULO.MARCA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("REGRESAR", "Index")
</p>
