@model IEnumerable<AgenciaCarros.Models.FACTURA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FACTURAS GUARDADAS</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        
        <th>
            @Html.DisplayName("IMPORTE TOTAL")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPUESTO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULO.MARCA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IMPORTE_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPUESTO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULO.MARCA)
        </td>
        <td>
            @Html.ActionLink("DETALLES", "Details", new { id=item.ID_FACTURA }) |
        </td>
    </tr>
}

</table>
