@model AgenciaCarros.Models.DETALLE_DIRECCION

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DETALLE_DIRECCION</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID_DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_DIRECCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_PROVINCIA, "ID_PROVINCIA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.ProvinciaLista != null)
                {
                    @Html.DropDownList("ID_PROVINCIA", ViewBag.ProvinciaLista as SelectList,"Seleccione Provincia", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_PROVINCIA, "", new { @class = "text-danger" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_CANTON, "ID_CANTON", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_CANTON", new SelectList(" "),"Seleccione Canton", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_CANTON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_DISTRITO, "ID_DISTRITO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_DISTRITO", new SelectList(" "), "Seleccione Distrito", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_DISTRITO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ID_PROVINCIA").change(function () {
            $.get("/DETALLE_DIRECCION1/ObtenerCanton", { ID_PROVINCIA: $("#ID_PROVINCIA").val() }, function (data) {
                $("#ID_CANTON").empty();
                $.each(data, function (index, row) {
                    $("#ID_CANTON").append("<option value='" + row.ID_CANTON + "'>" + row.NOMBRE_CANTON + "</option>")
                });
            });
        })
    });
</script>
<script>
    $(document).ready(function () {
        $("#ID_CANTON").change(function () {
            $.get("/DETALLE_DIRECCION1/ObtenerDistrito", { ID_CANTON: $("#ID_CANTON").val() }, function (data) {
                $("#ID_DISTRITO").empty();
                $.each(data, function (index, row) {
                    $("#ID_DISTRITO").append("<option value='" + row.ID_DISTRITO + "'>" + row.NOMBRE_DISTRITO + "</option>")
                });
            });
        })
    });
</script>
