@model AgenciaCarros.Models.DETALLE_DIRECCION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ELIMINAR</h2>

<h3>Esta seguro que lo desea eliminar?</h3>
<div>
    <h4>DETALLE DIRECCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayName("CANTON")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTON.NOMBRE_CANTON)
        </dd>

        <dt>
            @Html.DisplayName("PROVINCIA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVINCIA.NOMBRE_PROVINCIA)
        </dd>

        <dt>
            @Html.DisplayName("DISTRITO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRITO.NOMBRE_DISTRITO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
