@model IEnumerable<AgenciaCarros.Models.DETALLE_DIRECCION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DIRECCIONES GUARDADAS</h2>

<p>
    @Html.ActionLink("Ingresar dirrecion nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayName("CANTON")
        </th>
        <th>
            @Html.DisplayName("PROVINCIA")
        </th>
        <th>
            @Html.DisplayName("DISTRITO")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTON.NOMBRE_CANTON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROVINCIA.NOMBRE_PROVINCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISTRITO.NOMBRE_DISTRITO)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id=item.ID_DIRECCION }) |
            @Html.ActionLink("DETALLES", "Details", new { id=item.ID_DIRECCION }) |
           
        </td>
    </tr>
}

</table>
