@model AgenciaCarros.Models.INVENTARIO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>INVENTARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CANTIDAD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayName("VALOR")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>

        <dt>
            @Html.DisplayName("ULTIMA VENTA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULTIMA_VENTA)
        </dd>

        <dt>
            @Html.DisplayName("NOMBRE DEL REPUESTO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REPUESTO.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
        @ViewData["data"]
    }
</div>
