@model IEnumerable<AgenciaCarros.Models.REPUESTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>REPUESTOS GUARDADOS</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayName("PRECIO UNITARIO")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DESCRIPCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRECIO_UNITARIO)
    </td>
    <td>
        @Html.ActionLink("DETALLES", "Details", new { id = item.ID_REPUESTO }) |
    </td>
</tr>
}

</table>
