@model IEnumerable<AgenciaCarros.Models.PROVEEDOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PROVEEDORES GUARDADOS</h2>

<p>
    @Html.ActionLink("Ingresar nuevo proveedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("NOMBRE PROVEEDOR")
        </th>
        <th>
            @Html.DisplayName("DESCRIPCION")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_PROVEEDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_PROVEEDOR)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id=item.ID_PROVEEDOR }) |
            @Html.ActionLink("DETALLES", "Details", new { id=item.ID_PROVEEDOR }) |
            @Html.ActionLink("ELIMINAR", "Delete", new { id=item.ID_PROVEEDOR })
        </td>
    </tr>
}

</table>
